.container {
  height: 68vh;
  width: 40vw;
  border-radius: 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.23);

  &__signIn {
    cursor: pointer;
    font-weight: 450;
    background-color: rgb(226, 213, 233);
    border-radius: 8px;
    padding: 0.5em;
  }

  h1 {
    color: #2d3748;
    background: linear-gradient(135deg, #256aff, #764ba28e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
  }

  &__create {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1em;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5em;
  }

  &__error {
    border: 1px solid rgb(238, 173, 173);
    padding: 0.5em;
    border-radius: 10px;
    color: rgb(236, 75, 75);
    background-color: rgb(248, 238, 238);
    display: flex;
    gap: 0.5em;
    margin: 0 auto;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  &__success {
    user-select: text;
    border: 1px solid lightgreen;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 9px;
    background-color: rgba(144, 238, 144, 0.171);
    color: green;
    margin: 0 auto;
    margin-top: 1em;
  }
}

form {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: end;
}
